{% extends "base.html" %}
{% load static %}

{% block title %}Find Us{% endblock %}

{% block content %}


<form action="{% url 'reserve_table' %}" method="POST" class="mb-5">
    {% csrf_token %}

<!-- Reservation Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="reservation position-relative overlay-top overlay-bottom">
            <div class="row align-items-center">

                <!-- Left side text -->
                <div class="col-lg-6 my-5 my-lg-0">
                    <div class="p-5">
                        <div class="mb-4">
                            <h1 class="display-3 text-primary">30% OFF</h1>
                            <h1 class="text-white">For Online Reservation</h1>
                        </div>
                        <p class="text-white">
                            Lorem justo clita erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                            ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea
                        </p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </div>
                </div>

                <!-- Right side reservation form -->
                <div class="col-lg-6">
                    <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">

                        <h1 class="text-white mb-4 mt-5">Book Your Table</h1>

                        <form action="{% url 'reserve_table' %}" method="POST" class="mb-5">
                            {% csrf_token %}

                            <!-- Full Name -->
                            <div class="form-group">
                                <input type="text"
                                       name="name"
                                       class="form-control bg-transparent border-primary p-4"
                                       placeholder="Full Name"
                                       required>
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <input type="email"
                                       name="email"
                                       class="form-control bg-transparent border-primary p-4"
                                       placeholder="Email"
                                       required>
                            </div>

                            <!-- Phone -->
                            <div class="form-group">
                                <input type="text"
                                       name="phone"
                                       class="form-control bg-transparent border-primary p-4"
                                       placeholder="Phone Number"
                                       required>
                            </div>

                            <!-- Date -->
                            <div class="form-group">
                                <input type="date"
                                       name="date"
                                       class="form-control bg-transparent border-primary p-4"
                                       required>
                            </div>

                            <!-- Time -->
                            <div class="form-group">
                                <input type="time"
                                       name="time"
                                       class="form-control bg-transparent border-primary p-4"
                                       required>
                            </div>

                            <!-- Number of People -->
                            <div class="form-group">
                                <select name="people"
                                        class="custom-select bg-transparent border-primary px-4"
                                        style="height: 49px;"
                                        required>
                                    <option selected disabled>Number of Persons</option>

                                    {% for nb in persons %}
                                    <option value="{{ nb }}">Person {{ nb }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Optional Message -->
                            <div class="form-group">
                                <textarea name="message"
                                          class="form-control bg-transparent border-primary p-4"
                                          placeholder="Message (Optional)"
                                          rows="3"></textarea>
                            </div>

                            <!-- Submit -->
                            <div>
                                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">
                                    Book Now
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->

</form>

{% endblock %}