{% extends "base.html" %}
{% load static %}
{% block title %}Our Services{% endblock %}

{% block content %}
<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title text-center mb-5">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Services</h4>
            <h1 class="display-4">Fresh & Delicious Drinks</h1>
        </div>
        <div class="row">
            <!-- Fastest Door Delivery -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/service-1.jpg' %}" alt="Delivery">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-truck service-icon"></i>Fastest Door Delivery</h4>
                        <p class="m-0">Get your favorite coffee, tea, or frappuccino delivered fast and fresh to your door.</p>
                    </div>
                </div>
            </div>

            <!-- Fresh Coffee Beans -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/service-2.jpg' %}" alt="Coffee Beans">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Fresh Coffee Beans</h4>
                        <p class="m-0">Premium coffee beans roasted to perfection to give you a rich, aromatic experience.</p>
                    </div>
                </div>
            </div>

            <!-- Best Quality Coffee -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/service-3.jpg' %}" alt="Quality Coffee">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Coffee</h4>
                        <p class="m-0">Our coffee and drinks are made with the highest quality ingredients for the perfect taste.</p>
                    </div>
                </div>
            </div>

            <!-- Online Table Booking -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/service-4.jpg' %}" alt="Table Booking">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>BOX PROMOTION </h4>
                        <p class="m-0">Reserve a table online and enjoy your favorite drinks in a cozy atmosphere.</p>
                    </div>
                </div>
            </div>

            <!-- Coktails -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/hq720.jpg' %}" alt="Coktails">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-glass-martini service-icon"></i>Coktails</h4>
                        <p class="m-0">Enjoy our selection of fresh and exotic cocktails, perfect for any occasion.</p>
                    </div>
                </div>
            </div>

            <!-- Tees -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/tee.jpg' %}" alt="Tees">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-leaf service-icon"></i>Tees</h4>
                        <p class="m-0">Relax with a variety of teas, from herbal to classic blends, brewed fresh for you.</p>
                    </div>
                </div>
            </div>

            <!-- Glace -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/glace.jpeg' %}" alt="Glace">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-ice-cream service-icon"></i>Glace</h4>
                        <p class="m-0">Cool down with our delicious ice cream and frozen drinks, perfect for a sunny day.</p>
                    </div>
                </div>
            </div>

            <!-- Frappuccino -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="{% static 'img/frapp.png' %}" alt="Frappuccino">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Frappuccino</h4>
                        <p class="m-0">Indulge in our creamy frappuccinos, blended to perfection with coffee and ice.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
{% endblock %}
